/*
    Classes Styling By Variables. 

        # Theme name -> Default

*/

/* Container : */
    .container_item_df_style{
        background: var(--bg);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        padding: var(--padding);
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%;
        background-repeat: no-repeat;
    }

/* Content : */
    
    /* TEXTS */
    .content_item_txt_df_style{
        color: var(--color);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        font-family: var(--font-family);
        line-height: var(--line-height);
        letter-spacing: var(--letter-spacing);
    }

    /* BUTTONS */
        /* Link */
        .content_item_btn_link_df_style{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 22px;
            height: 22px;
            background-color: rgba(0,0,0,.2);
            backdrop-filter: blur(8px);
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        /* Action */
        .content_item_btn_action_df_style{
            position: absolute;
            bottom: 10px;
            right: 10px;
            border-radius: 9999px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--width);
            height: var(--height);
            background-color: var(--bg-color);
            box-shadow: var(--box-shadow);
        }
